<%
  page_config do |page|
    page.body_tag_options = { :class => 'sales', :id => 'privacy' }
    page.primary_navigation_section = :privacy
    page.title.unshift('Privacy Policy')
  end
-%>
<div class= "container">
<div class="inner_content_container">
  <h4>Privacy Policy</h4>
  <p>Personal data, or personal information as we sometimes call it, means data which is capable of identifying a living person, such as the following:</p>
  <ul>
    <li>name, address, email address, telephone number(s), photographs and sometimes payment information, such as credit card or bank account numbers;</li>
    <li>correspondence through The Compelling Image, and correspondence sent to us by you;</li>
    <li>information we ask you to submit to verify your identity.</li>
  </ul>
  <p>Your personal data will be collected, processed, stored and used by us, and passed to and processed by our subsidiary and/or affiliated companies and other data processors acting under contract with us to provide and promote The Compelling Image, to process payments you make to us, to provide customer support, and for other purposes referred to in this Privacy Policy. It is possible that some of the computer systems and companies that process your data on our behalf may be based in countries outside the European Union ("EU"). Countries outside the EU may not have as well developed data protection laws to protect your information as those inside the EU, but we will contractually require that personal data which is processed on our behalf is treated in compliance with EU laws and this Privacy Policy.</p>
  <p>In the course of using The Compelling Image, Registered Users may make their personal data available to others. It is Registered Users' responsibility to decide whether they wish to disseminate information about themselves (including personal data) in their use of The Compelling Image.</p>
  <p>We take appropriate technical and organisational measures to guard against unauthorised or unlawful processing of your personal data and against accidental loss or destruction of, or damage to, your personal data. While no computer system is completely secure, we believe the measures implemented by our site reduce the likelihood of security problems to a level appropriate to the type of data involved. We have security measures in place to protect our Registered User database and access to this database is restricted internally. However, it remains each Registered User's responsibility:</p>
  <ul>
    <li>to ensure no-one else uses The Compelling Image while the Registered User's machine is "logged on" to The Compelling Image;</li>
    <li>to log off or exit from your Compelling Image Account when not using it; and</li>
    <li>to keep his/her password or other access information secret.</li>
  </ul>
  <p>We will retain your personal data only as long as is necessary for the purposes to which you consent under your agreement(s) with us and this Privacy Policy, or as is required by applicable law, and then we will delete it.</p>
</div>
<!-- <div class="grid_5">
  <%#= render(:partial => "courses/upcoming", :locals => {:classes => "margin_bottom_20"}) -%>
</div> -->
<div class="clear">&nbsp;</div>
</div>
