<%
  page_config do |page|
    page.body_tag_options = { :class => 'sales', :id => 'instructors' }
    page.primary_navigation_section = :mentorship
    page.title.unshift('Mentorship')
  end 
-%>

<% content_for :meta do %>
  <meta name="keywords" content="The Compelling Image Mentorship Program" />
  <meta name="description" content="Take an online course in photography or video production with The Compelling Image. Our industry established experts take you from strength to strength." />
<% end %>

<div class="grid_11 instructors">
  <h1>The TCI Mentorship Program</h1>
  <p>Thank you for signing up - a member of the TCI team will contact you shortly with details of how you access your program.
</div>