<% if students.size > 1 %>
  <div class="callout_box<%= " #{classes}" if local_assigns[:classes] -%>" style="min-height: 100px;">
    <h4>Students on this Course</h4>
    <div class="body padding_5 instructor auto_Scroll">
      <table>
        <% allenrolment.each do |student| %>
			
          <tr <%- if student.enrol == 1 -%> style="background:url('https://www.thecompellingimage.com/assets/icons/bullet_green.png') no-repeat" <%- end -%>
           <%- if student.enrol == 0 -%> style="background:url('https://www.thecompellingimage.com/assets/icons/bullet_black.png') no-repeat" <%- end -%>>
			<td style="padding-left:20px"><%= student.name -%></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
<% end %>
