<ul class="blogs_list">
  <% contest_list.each do |contest| %>
    <li>      
      <div class="description_container desc_blog">
     
        <h1 class="headline">Hello</h1>      
		<div class= 'blogs_image_block main_image'>
                
      </div>
       <p></p>        
        <!-- <a href="#"><i class="star"></i> Find out more</a> -->
      </div>
    </li>
  <% end %>
</ul>

