<div class="grid_11">
  <h4>Thank you for your order</h4>
  <p>Please check below for details of your order. The course you have enrolled on will also appear in your Student Area.</p>
  <WPDISPLAY IT EM=banner>
</div>
<div class="clear">&nbsp;</div>