<div class="grid_11 margin_top_20 courses">
  <%= tag_cloud_with_styles.html_safe %>
</div>
<div class="grid_5 margin_top_20">
  <%#= render(:partial => "courses/upcoming", :locals => {:classes => "margin_bottom_20"}) -%>
  <%= render(:partial => "blogs/blogroll") -%>
</div>
<div class="clear">&nbsp;</div>
