<div class="callout_box<%= " #{classes}" if local_assigns[:classes] -%>">
  <h4>Enrolling on a Course</h4>
  <div class="body padding_5">
    <p style="padding: 5px;">Select the course session you wish to enroll on from the drop-down selection. If the session you want is not yet available then please contact us for details.</p>
  </div>
</div>