<div class="grid_11 margin_top_20 alpha">
  <h4>Edit Assignment Submission</h4>
  <%= render(:partial => 'student/assignment_submissions/new_and_edit_form', :locals => { :assignment_submission => @assignment_submission, :path => student_submission_path }) -%>
</div>