<div class="callout_box<%= " #{classes}" if local_assigns[:classes] -%>">
  <h4>Payment Methods</h4>
  <div class="body padding_5">
    <p style="padding: 5px; margin: 0px;">For your convenience we offer payment by either Paypal or Stripe.</p>
    <p style="padding: 5px; margin: 0px;">If you have a Paypal account and wish to use it to pay, select the PayPal option.</p>
    <p style="padding: 5px; margin: 0px;">If you wish to pay by credit or debit card then please select the Stripe option.</p>
  </div>
</div>