<html>
<head>
  <style type="text/css">
    body{font-size: 14px;}
  </style>
</head>
<body>
<span ><%= wicked_pdf_image_tag ('tci-logo.jpg') %>	</span>
  <div class="grid_11 margin_top_20 alpha">
    <h4></h4>
   
    <hr />
   

  <div class="clear">&nbsp;</div>
 
  <div style='margin-left:25%;'>
    Copyright &copy; <%= Time.now.year -%><span style= 'margin-left: 2px;'>The Compelling Image </span>
  </div>
</body>
</html>
