<div class="block block_screenshots">
  <div class="block_heading1">
    <span>VIDEO</span>
  </div>
  <div class="block_content video">
     <div class="video_wrapper">
        <iframe frameborder="0" width="640" height="360" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen="" src=<%= get_video_url%>></iframe>
      </div>
      <h5><%= get_title_how_it_works_video %></h5>
  </div>
</div>
