<%= stylesheet_link_tag 'uni-form', 'enquiries' %>
<div class="container margin-t-70">
  <div class="inner_content_container">
    <div class="inner_content_left">
      <h4>Contact Us</h4>
      <%= render :partial => "form" %>
    </div>
    <div class="inner_content_right">
      <%= render(:partial => "blogs/blogroll") -%>
    </div>
  </div>
</div>
<div class="clear">&nbsp;</div>
