<div class="container ">
  <div class="inner_content_container">
    <div class="inner_content_left">
      <h4 class= "color_black">Thanks!</h4>
    </div>
    <div class="inner_content_right">
      <%= render(:partial => "blogs/blogroll") -%>
    </div>
  </div>
</div>
<div class="clear">&nbsp;</div>
